body{
    display: flex;
    flex-direction: column;
    background-color: #b4eaff;
}

.barra-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #048ABF;
}

.barra-nav-pestanas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    margin-right: 50px;
}

.barra-nav-pestanas li{
    color: #ffffff;
    list-style: none;
}

.barra-nav-pestanas li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
}



.contenedor-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}


.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-columnas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #048ABF;
    color: #ffffff;
}

.titulo-productos{
    font-size: 50px;
    margin-bottom: 50px;
}

.contacto-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 550px;
    background-color: #ffffff;
    padding-left: 390px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 70px;
    width: 60%;
}

.contacto-form input{
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto-form label{
    width:40%;
    display: flex;
    align-items: center;
}

.contacto-boton{
    margin-top: 10px;
    border-radius: 5px;
    background-color: #048ABF;
    color: #ffffff;
}

.contenedor-mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contenedor-mapa h1{
    font-size: 80px;
    color: #0e1429;
}

iframe{
    margin-top: 40px;
    margin-bottom: 60px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-instagram {
    background: #eb6213;
    color: white;
  }

  .fa-whatsapp{
      background: #14ee00;
      color: #ffffff;
  }

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col{
    margin-bottom: 20px;
}
#seccion-articDer{
    background-color: rgb(222, 255, 38);
    padding: 20px;
    margin: 20px auto;
    width: 700px;
  }
  #seccion-articIzq{
    background-color: rgb(50, 255, 60);
    padding: 20px;
    margin: 20px auto;
    width: 700px;
  }